@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    position: relative;
    padding: 0 100px;
    min-height: 100vh;
}

.container:before {
    content: '';
    position: absolute;
    z-index: -2;
    top: 0;
    right: 0;
    width: 350px;
    height: 100%;
    background: #303960;
}

.container:after {
    content: 'Healthy';
    position: absolute;
    z-index: -2;
    bottom: 0;
    left: 0;
    font-size: 18vw;
    font-weight: 700;
    color: #303960;
    opacity: 0.09;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

header .logo {
    font-weight: 700;
    text-transform: uppercase;
    color: #303960;
    text-decoration: none;
    font-size: 2em; 
}

header .logo span {
    color: #EA9A96
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    list-style: none;
    margin: 0 20px;
    font-weight: 600;
}

header ul li a {
    position: relative;
    text-decoration: none;
    font-size: 18px;
    padding: 40px 10px;
    color: #303960;
}

header ul li:nth-child(3) a,
header ul li:nth-child(4) a  {
    color: #FFFFFF;
}

header ul li a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
    height: 100%;
    background: #EA9A96;
    z-index: -1;
    transition: 0.5s ease-in-out;
}

header ul li a:hover:before,
header ul li a.active:before {
    width: 40px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.content .bnTxt {
    position: relative;
    max-width: 500px;
    margin-right: 50px;
}

.content .bnTxt div {
    display: none;
}

.content .bnTxt div.active {
    display: initial;
}

.content .bnTxt h2 {
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1.2em;
    color: #303960;
}

.content .bnTxt p {
    font-size: 18px;
    color: #303960;
    line-height: 1.8em;
    margin: 20px 0;
}

.content .bnTxt .button {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    color: #303960;
    letter-spacing: 1px;
    font-size: 18px;
    text-decoration: none;
    padding: 15px;
}

.content .bnTxt .button:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    background: #EA9A96;
    z-index: -1;
    transition: 0.5s ease-in-out;
}

.content .bnTxt .button:hover:before {
    width: 100%;
}

.content .bnImg {
    position: relative;
    width: 440px;
    height: 440px;
    background: #000 ;
}

.content .bnImg img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    opacity: 0;
}

.content .bnImg img.active {
    opacity: 1;
} 

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}


.icons .social,
.icons .controls {
    position: relative;
    display: flex;
}   

.icons .social li {
    list-style: none;
    margin-right: 30px;
}

.icons .social li img {
    display: inline-block;
    max-height: 24px;
    transition: 0.5s ease-in-out;
}

.icons .social li:hover img {
    transform: translateY(-10px);
}

.icons .controls li {
    padding: 10px 12px;
    list-style: none;
    margin-left: 50px;
    cursor: pointer;
    filter: invert(1);
    border: 1px solid;
    transition: 0.5s ease-in-out;
}

.icons .controls li:hover {
    opacity: 0.5;
}

.icons .controls li img {
    max-height: 44px;
}

.menu {
    display: none;
}


/* Responsive */

@media (width: 992px) {
    .container {
        padding: 20px 50px;
    }

    .container:before {
        display: none;
    }

    header {
        padding: 0;
    }

    header ul {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #fff;
        z-index: 1000000;
        padding: 100px 0;
    }


    header .active ul {
        display: initial;
    }

    header ul li {
        padding: 20px;
        text-align: center;
    }

    header ul li a {
        font-size: 36px;
        color: #303960 !important;  
    }

    header ul li a:hover:before,
    header ul li a.active:before {
        width: 100%;
    }

    .menu {
        width: 34px;
        height: 34px;
        display: initial;
        position: fixed;
        right: 50px;
        cursor: pointer;
        padding: 8px;
        z-index: 100000000000;
        background: #fff url(images/icons/menu-of-three-lines.svg);
        background-repeat: no-repeat;
        background-position: 6px;
    }

    .icons .controls li {
        filter: invert(0);
    }

    .content .bnTxt {
        max-width: 100%;
        padding-right: 0;
    }

    .content .bnTxt h2 {
        font-size: 30px;
    }

    .content {
        margin-top: 0;
        flex-direction: column-reverse;
    }

    .content .bnImg {
        width: 100%;
        height: 40vh;
        margin: 20px 0;
    }
}
